.destination-grid {
  padding: 40px 20px;
  text-align: center;
  background-color: #f9f9f9;
  
}

.destination-grid h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #2c3e50;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
