/* Grid Section */
.explore-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Always three columns */
  gap: 20px; /* Space between the items */
  padding: 20px;
  justify-content: center; /* Center-align the grid */
  align-items: center; 
  padding: 5%;/* Align items vertically in the grid */
}

/* Grid item styling */
.grid-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.grid-item:hover {
  transform: scale(1.05);
}

/* Grid item image styling */
.grid-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Grid item title styling */
.grid-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
}



/* Hero Section */
.explore-section {
  text-align: center;
  padding: 100px 20px; /* Increased padding for more height */
  background-size: cover; /* Ensure the image covers the section */
  color: grey;
  margin-bottom: 40px;
  height: 400px; /* Fixed height */
  width: 100%; /* Full width */
  animation: heroZoomIn 3s ease-in-out forwards;
   /* Run once and stay at the final state */
}
.explore-title {
  font-size: 3rem; /* Increased title size */
  margin-bottom: 30px;
  color: black; /* Increased space below title */
}


.explore-subtitle {
  font-size: 1.5rem; /* Increased subtitle font size */

  color:black;
  text-align: center;
 /* Increased space below subtitle */
}

 
/* Animation Keyframes for Zoom-In */
@keyframes heroZoomIn {
  0% {
    transform: scale(1); /* Initial size */
  }
  100% {
    transform: scale(1.2); /* Zoom in */
  }
}
