.guided-tour-page {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .hero-section {
    background: url('./Assets/transportation.webp') no-repeat center/cover;
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3rem;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: rgb(17, 16, 16);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    align-items: center;
  }
  
  .cta-button:hover {
    background-color: #333;
  }
  .cta-section {
    text-align: center;
  }
  .highlights-section h2 {
    text-align: center;
  }
  .highlights-section ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align:center;
  }
  
  .highlights-section li {
    margin-bottom: 10px;
    text-align:center;
  }
  .itinerary-section h2 {
    text-align: center;
  }
  .itinerary-section .itinerary-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .itinerary-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    border:2px solid #333;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  
  }
  .faq-section h2{
    text-align: center;
  }
  .faq-section .faq-item {
    margin-bottom: 15px;
    cursor: pointer;
    max-width:600px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, max-height 0.3s ease;
    overflow: hidden;
    align-items: center;
    text-align: center;
  }
  
  .faq-section .faq-item h3 {
    margin: 0;
    text-align: center;
  }
  
  .faq-section .faq-item.active {
    background-color: #f1f1f1;
    text-align: center;
    justify-content: center;
  
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    text-align: center;
  }
  
  .faq-item.active .faq-answer {
    max-height: 100px;
  }
  
  