Header.css

header {
  background-color:  #c7bebb; /* Neutral, earthy background color */
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(14, 0, 0, 0.1); /* Soft shadow for depth */
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px; /* Limit max width */
  margin: 0 auto; /* Center the content */
}

header .logo {
  font-size: 28px; /* Slightly larger for better visibility */
  font-weight: bold;
  color: #000000;
  text-transform: uppercase; /* Optional, makes the logo text uppercase */
  cursor: pointer;
}

header .nav-links {
  display: flex;
  list-style: none;
}

header .nav-links li {
  margin-left: 20px;
  cursor: pointer;
  font-size: 16px;
}

header .nav-links li:hover {
  color: #ec6b5a; /* Color on hover */
}

header .nav-links li.active {
  font-weight: bold;
  color: #6b2e2e; /* Example active state color */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  header nav {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
  }

  header .logo {
    margin-bottom: 20px; /* Space between logo and nav links */
  }

  header .nav-links {
    flex-direction: column; /* Stack nav links vertically on smaller screens */
    padding-left: 0;
  }

  header .nav-links li {
    margin-left: 0;
    margin-bottom: 10px; /* Space between nav links */
  }
}
