/* General Container Styling */
.homepage-container {
    width: auto;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* HomeSection3 CSS */
  .tourism-container {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .left-section {
    flex: 1;
  }
  
  .heading {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .description {
    font-size:1.3rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .service-card {
    /* background: #f9f9f9; */
    padding: 5px;
    /* border-radius: 10px; */
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .service-image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .service-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .service-description {
    font-size:1rem;
    color: #777;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tourism-image {
    width: 100%;
    height: 500px;
    border-radius: 10px;
  }
  
  /* Home CSS */
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .top-section {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items:flex-start;
  }
  
  .image-section {
    flex: 1;
  }
  
  .image1 {
    width: 500px;
    height: auto;
    border-radius: 10px;
    position:relative;
    margin:50px auto;
    overflow: hidden;
    z-index: 1;
  }
  .image2{
    position: relative;
    bottom:150px;
    left:250px;
    border-radius: 10px;
    z-index:2;
  }
  .text-section {
    flex: 1;
    margin-left:50px;
  }
  
  .text-section h2 {
    font-size: 2rem;
  }
  .text-section p {
    font-size: 1.2rem;
  }  
  .text-section ul {
    font-size: 1rem;
    list-style: none;
    padding: 0;
  }
  
  .explore-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    border:1px solid white;
    border-radius: 5px;
    cursor: pointer;
  }
  .explore-butto:hover {
    background-color:#555;
  }

  .footer-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
  }
  
  .footer-section img {
    width: 150px;
    height: auto;
    border-radius: 8px;
  }
  