

.hero-section {
  border-color: #01070e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color:#c7bebb;
  text-align: center;
}

.hero-section .hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.hero-section .hero-text {
  max-width: 900px;
  color: #000000;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.hero-section p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000000;
}

.hero-section button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #9a9ea3;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-section button:hover {
  background-color: #b0c1d6;
}

.hero-section .hero-image {
  width: 700px;
  height: 400px;
}

.hero-section .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
  .hero-section .hero-content {
    flex-direction: column; /* Stacks text and image vertically */
    align-items: center;
  }
  
  .hero-section .hero-image {
    width: 100%;
    height: auto;
    margin-top: 50px; /* Adds spacing between text and image */
  }
}
