.container {
  display: flex;
  padding: 20px;
  background-color: #d6d4d4;
}

.left {
  flex: 1;
  padding: 20px;
  margin-top: 10px;
  position: relative;

}

.header {
  color:#333;
  font-size: 55px;
}

.subHeader {
  color:white;
  font-size: 45px;
}

.description {
  font-size: 25px;
  color: #555;
  margin-top: 10px;
}

.contactInfo {
  font-size: 20px;
  color: #333;
  line-height: 1.8;
}

.icon {
  margin-right: 5px;
}

.whatsappButton {
  width:80px;
  height:80px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #25D366;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 50px;
  position: fixed;
}

.right {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
  font-size: 16px;
}

.input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Mobile view (screens up to 768px wide) */
@media (max-width: 768px) {
.container {
  flex-direction: column;
  padding: 10px;
}

.left, .right {
  padding: 10px;
  margin-top: 10px;
}

.header {
  font-size: 40px;
}

.subHeader {
  font-size: 35px;
}

.description, .contactInfo {
  font-size: 18px;
}



.input, .button {
  font-size: 14px;
  padding: 8px;
}

.button {
  padding: 10px 15px;
}
}






