body {
    background-color: #d6d4d4;
    font-family: sans-serif;
  }
  .page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: black;
  }
  .service-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  .service-img {
    justify-content: space-around;
    margin-left: 200px;
    margin-top: 100px;
  }
  .service-img :nth-child(1) {
    height: 100px;
    width: 100px;
    border: 2px solid white;
    background-color: white;
    border-radius: 500px;
  }
  .service-img :nth-child(2) {
    height: 100px;
    width: 100px;
    margin-left: 300px;
    border: 2px solid white;
    background-color: white;
    border-radius: 500px;
  }
  .service-img :nth-child(3) {
    height: 100px;
    width: 100px;
    margin-left: 350px;
    border: 2px solid white;
    background-color: white;
    border-radius: 500px;
  }
  .service-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 20px;
  }
  .service-description {
    color: #333;
    padding: 10px 15px;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .page-title {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .service-title {
      font-size: 1.2rem;
    }
    .service-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      margin-top: 50px;
    }
    .service-img :nth-child(1),
    .service-img :nth-child(2),
    .service-img :nth-child(3) {
      height: 80px;
      width: 80px;
      margin: 15px 0;
    }
    .service-list {
      display: block;
      margin-left: 0;
      text-align: center;
    }
    .service-description {
      font-size: 0.9rem;
      padding: 8px 10px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .page-title {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
    .service-title {
      font-size: 1.3rem;
    }
    .service-img {
      justify-content: space-around;
      margin-left: 50px;
      margin-top: 70px;
    }
    .service-img :nth-child(1),
    .service-img :nth-child(2),
    .service-img :nth-child(3) {
      height: 90px;
      width: 90px;
      margin-left: 20px;
    }
    .service-list {
      margin-left: 10px;
    }
  }
  