HeroSection.css

.hero-section {
  border-color: #01070e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background-color: #c7bebb;
  text-align: center;
}

.hero-section .hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Optional: limit the width */
}

.hero-section .hero-text {
  max-width: 600px; /* Limit text width */
  color: #000000;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.hero-section p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000000;
}

.hero-section button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #9a9ea3;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-section button:hover {
  background-color: #b0c1d6;
}

.hero-section .hero-image {
  width: 500px;
  height: 400px;
}

.hero-section .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}
